.ul-container {
  list-style-type: none;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .ul-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.each-coupon-card {
  padding: 16px;
  color: white;
  border-radius: 9px;
  width: 95%;
  margin: 10px;
}

@media (min-width: 768px) {
  .each-coupon-card {
    max-width: 280px;
  }
}

.sky-blue {
  background-color: #0cabe3;
}

.green {
  background-color: #079c54;
}

.blue {
  background-color: #1289d6;
}

.gray {
  background-color: #7a7e80;
}

.red {
  background-color: #ec6f4a;
}

.yellow {
  background-color: #d4a511;
}

.card-text {
  color: white;
}
