.home-container {
  background-color: white;
  background-size: cover;
  min-height: 100vh;
}

.input-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-options-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.branch-label-text {
  color: #46494b;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.selector {
  border-radius: 9px;
  border: 1px blue solid;
  padding: 6px;
  width: 100px;
  height: 40px;
}

.date-input {
  border-radius: 9px;
  margin-bottom: 10px;
  border: 1px blue solid;
  padding: 6px;
  width: 100px;
  height: 40px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}

.bottom-header {
  color: gray;
  font-weight: bold;
  font-size: 22px;
}

.bottom-para {
  padding-left: 28px;
}

.bottom-data {
  align-self: center;
}
