.login-container {
  background-image: url('https://media-hosting.imagekit.io//8fb3ee0eb83a4621/logo%20(2).png?Expires=1735973397&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=dxs3Snl45F93pqBXryMf3ojfxkf1yreMeJSzLIfROlL4CNhwLEKUawuN6dGU094nAkTPc8~WC0QFGq202IAJ8aYi4-F2~ghnTtylZhFoIeeaC8Z~Ylaprg~c8cySxYjAZh5yZXQCCqBYEMroBbc-ziTTNcn9lDwXvtH02PfoprFGQ0t8h9GSZWU2sXcHAEAKF90IlHUCnpwyasGA1IG3ST5~XFx3Z6WZTADaa0o79ldTA7ChgQDt6pjq0zfU7~YvSHR2wlbHhpBPHFdnZWLJOqFQw6wRHp1IxOAkmPxvQmiOIhhpbIitl4W~HmV2rEBdCdTWEvI3tKF4VAw0kLLxcg__');
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px grey;
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 90%;
  max-width: 430px;
}

.logo-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logoin-text {
  text-align: center;
  font-size: 20px;
  color: grey;
  font-family: 'Roboto';
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.website-logo-login-form {
  width: 120px;
  height: 50px;
  margin-bottom: 20px;
}

.website-logo-login-form2 {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .login-form {
    padding: 40px;
  }
  .website-logo-login-form {
    width: 150px;
    margin-bottom: 30px;
  }
}

.input-field-container {
  display: flex;
  flex-direction: column;
}
.login-input-label {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  margin-left: 2px;
  color: gray;
}
.login-input-field {
  flex-grow: 1;
  margin-top: 6px;
  font-family: 'Roboto';
  height: 40px;
  padding: 5px 5px 5px 15px;
  background-color: transparent;
  border: 1px solid #64748b;
  border-radius: 3px;
  font-size: 14px;
  color: black;
  outline: none;
}

.forgot-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}

.label-style {
  color: grey;
  font-size: 15px;
}

.forgot-text {
  color: #33beff;
  font-size: 15px;
  font-weight: bold;
}

.underline-remove {
  text-decoration: none;
}

.login-button {
  width: 100%;
  background-color: #33beff;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.error-message {
  font-weight: bold;
  align-self: start;
  font-size: 13px;
  margin-top: 3px;
  font-family: 'Roboto';
  line-height: 16px;
  color: #ff0b37;
  margin-bottom: 8px;
}

.show-credential {
  align-self: start;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  line-height: 16px;
  color: yellowgreen;
}

.login-note {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: bold;
  color: white;
}
